---
http_interactions:
- request:
    method: post
    uri: https://api.mundipagg.com/core/v1/charges
    body:
      encoding: UTF-8
      string: '{"amount":1000,"customer_id":"card_123123","payment":{"payment_method":"credit_card","credit_card":{"capture":true,"recurrence":true,"installments":1,"statement_descriptor":"Padre
        Paulo Ricardo","card_id":"card_1231231"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9YS1lRV1ZiVVlyZks4RTJBOg==
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"message\": \"Customer not found.\"\r\n}"
  recorded_at: Tue, 23 Nov 2021 18:31:46 GMT
recorded_with: VCR 5.1.0
