---
http_interactions:
- request:
    method: get
    uri: https://api.mundipagg.com/core/v1/customers/cus_rXZgoqjFwtj5GODx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9YS1lRV1ZiVVlyZks4RTJBOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"id\": \"cus_rXZgoqjFwtj5GODx\",\r\n  \"name\": \"Anchieta
        Junior\",\r\n  \"email\": \"zemaria@escriva.com\",\r\n  \"document\": \"03689994595\",\r\n
        \ \"type\": \"individual\",\r\n  \"delinquent\": false,\r\n  \"created_at\":
        \"2021-05-13T15:11:30Z\",\r\n  \"updated_at\": \"2021-05-13T15:11:30Z\",\r\n
        \ \"phones\": {}\r\n}"
  recorded_at: Fri, 14 May 2021 04:11:20 GMT
recorded_with: VCR 5.1.0
