---
http_interactions:
- request:
    method: delete
    uri: https://api.mundipagg.com/core/v1/customers/cus_Ey50mGqF8Fej8RGq/cards/card_AJzkyPZuMuv4n7V3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9YS1lRV1ZiVVlyZks4RTJBOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"id\": \"card_AJzkyPZuMuv4n7V3\",\r\n  \"first_six_digits\":
        \"400000\",\r\n  \"last_four_digits\": \"0010\",\r\n  \"brand\": \"Visa\",\r\n
        \ \"holder_name\": \"MAILSON\",\r\n  \"exp_month\": 1,\r\n  \"exp_year\":
        2023,\r\n  \"status\": \"deleted\",\r\n  \"type\": \"credit\",\r\n  \"created_at\":
        \"2021-10-02T14:13:52Z\",\r\n  \"updated_at\": \"2021-10-02T14:23:09Z\",\r\n
        \ \"deleted_at\": \"2021-10-02T14:23:09Z\",\r\n  \"customer\": {\r\n    \"id\":
        \"cus_Ey50mGqF8Fej8RGq\",\r\n    \"name\": \"Mailson Araujo\",\r\n    \"email\":
        \"mailson+araujo@silva.com\",\r\n    \"type\": \"individual\",\r\n    \"delinquent\":
        false,\r\n    \"created_at\": \"2021-10-02T14:11:26Z\",\r\n    \"updated_at\":
        \"2021-10-02T14:11:26Z\",\r\n    \"phones\": {}\r\n  }\r\n}"
  recorded_at: Sat, 02 Oct 2021 14:23:08 GMT
recorded_with: VCR 5.1.0
