---
http_interactions:
- request:
    method: post
    uri: https://api.mundipagg.com/core/v1/customers/cus_akjshdjkahskdhj/cards
    body:
      encoding: UTF-8
      string: '{"number":"4000000000000010","exp_month":"10","exp_year":"30","cvv":"123","holder_name":"","holder_document":"35558757019"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9YS1lRV1ZiVVlyZks4RTJBOg==
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"message\": \"Customer not found\"\r\n}"
  recorded_at: Fri, 14 May 2021 16:16:07 GMT
recorded_with: VCR 5.1.0
