---
http_interactions:
- request:
    method: put
    uri: https://api.mundipagg.com/core/v1/customers/cus_heauheUAHEuah
    body:
      encoding: UTF-8
      string: '{"name":"","email":"fulano@email.com","type":"individual","document":"123123"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9YS1lRV1ZiVVlyZks4RTJBOg==
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"message\": \"The request is invalid.\",\r\n  \"errors\": {\r\n
        \   \"customer.name\": [\r\n      \"The name field is required.\"\r\n    ]\r\n
        \ },\r\n  \"request\": {\r\n    \"name\": \"\",\r\n    \"email\": \"fulano@email.com\",\r\n
        \   \"document\": \"123123\",\r\n    \"type\": \"individual\",\r\n    \"phones\":
        {}\r\n  }\r\n}"
  recorded_at: Fri, 26 Nov 2021 22:30:38 GMT
recorded_with: VCR 5.1.0
