---
http_interactions:
- request:
    method: delete
    uri: https://api.mundipagg.com/core/v1/charges/ch_mBXQJ1miEiaJ2kjP
    body:
      encoding: UTF-8
      string: '{"amount":100}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9YS1lRV1ZiVVlyZks4RTJBOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"id\": \"ch_mBXQJ1miEiaJ2kjP\",\r\n  \"canceled_amount\": 100, \r\n  \"last_transaction\": {\r\n  \"status\":\r\n  \"refunded\"\r\n }\r\n }"
  recorded_at: Mon, 05 Jul 2021 11:52:37 GMT
recorded_with: VCR 5.1.0
