---
http_interactions:
- request:
    method: put
    uri: https://api.mundipagg.com/core/v1/customers/cus_akjshdjkahskdhj/cards/card_ahsueahwuseh
    body:
      encoding: UTF-8
      string: '{"exp_month":"10","exp_year":"30","cvv":null,"holder_name":"","holder_document":"35558757019"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9YS1lRV1ZiVVlyZks4RTJBOg==
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"message\": \"The request is invalid.\",\r\n  \"errors\": {\r\n
        \   \"card.holder_name\": [\r\n      \"The holder_name field is required.\"\r\n
        \   ]\r\n  },\r\n  \"request\": {\r\n    \"holder_name\": \"\",\r\n    \"holder_document\":
        \"35558757019\",\r\n    \"exp_month\": 10,\r\n    \"exp_year\": 30\r\n  }\r\n}"
  recorded_at: Mon, 17 May 2021 14:58:26 GMT
recorded_with: VCR 5.1.0
