---
http_interactions:
- request:
    method: post
    uri: https://api.mundipagg.com/core/v1/charges
    body:
      encoding: UTF-8
      string: '{"amount":12000,"customer_id":"cus_oJAX6a4sZs7v2O75","payment":{"payment_method":"pix","pix":{"expires_in":"259200"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9YS1lRV1ZiVVlyZks4RTJBOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"id\": \"ch_bZdlyj4SQS48Pk1z\",\r\n  \"code\": \"N804HOHJME\",\r\n
        \ \"gateway_id\": \"448404\",\r\n  \"amount\": 12000,\r\n  \"status\": \"pending\",\r\n
        \ \"currency\": \"BRL\",\r\n  \"payment_method\": \"pix\",\r\n  \"created_at\":
        \"2021-11-23T16:48:04Z\",\r\n  \"updated_at\": \"2021-11-23T16:48:04Z\",\r\n
        \ \"customer\": {\r\n    \"id\": \"cus_oJAX6a4sZs7v2O75\",\r\n    \"name\":
        \"Anchieta Junior\",\r\n    \"document\": \"25993188073\",\r\n    \"type\":
        \"individual\",\r\n    \"delinquent\": false,\r\n    \"created_at\": \"2021-10-08T17:09:37Z\",\r\n
        \   \"updated_at\": \"2021-11-10T10:49:29Z\",\r\n    \"phones\": {\r\n      \"home_phone\":
        {\r\n        \"country_code\": \"55\",\r\n        \"number\": \"984600591\",\r\n
        \       \"area_code\": \"14\"\r\n      }\r\n    }\r\n  },\r\n  \"last_transaction\":
        {\r\n    \"qr_code\": \"https://digital.mundipagg.com/pix/\",\r\n    \"qr_code_url\":
        \"https://api.pagar.me/core/v5/transactions/tran_ve1VM8ofBfVRlrPB/qrcode?payment_method=pix\",\r\n
        \   \"expires_at\": \"2021-11-26T16:48:04Z\",\r\n    \"id\": \"tran_ve1VM8ofBfVRlrPB\",\r\n
        \   \"transaction_type\": \"pix\",\r\n    \"gateway_id\": \"448404\",\r\n
        \   \"amount\": 12000,\r\n    \"status\": \"waiting_payment\",\r\n    \"success\":
        true,\r\n    \"created_at\": \"2021-11-23T16:48:04Z\",\r\n    \"updated_at\":
        \"2021-11-23T16:48:04Z\",\r\n    \"gateway_response\": {},\r\n    \"antifraud_response\":
        {},\r\n    \"metadata\": {}\r\n  }\r\n}"
  recorded_at: Tue, 23 Nov 2021 16:48:01 GMT
recorded_with: VCR 5.1.0
