---
http_interactions:
- request:
    method: post
    uri: https://api.mundipagg.com/core/v1/charges
    body:
      encoding: UTF-8
      string: '{"amount":3000,"customer_id":"cus_vkWYeq1FmF6eVKmo","payment":{"payment_method":"pix","pix":{"expires_in":"259200"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9YS1lRV1ZiVVlyZks4RTJBOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"id\": \"ch_klL6jbKiJiRyvpJb\",\r\n  \"code\": \"E4PVHZHE48\",\r\n
        \ \"gateway_id\": \"14070\",\r\n  \"amount\": 3000,\r\n  \"status\": \"pending\",\r\n
        \ \"currency\": \"BRL\",\r\n  \"payment_method\": \"pix\",\r\n  \"created_at\":
        \"2021-11-23T18:39:41Z\",\r\n  \"updated_at\": \"2021-11-23T18:39:41Z\",\r\n
        \ \"customer\": {\r\n    \"id\": \"cus_vkWYeq1FmF6eVKmo\",\r\n    \"name\":
        \"Anchieta Junior\",\r\n    \"document\": \"25993188073\",\r\n    \"type\":
        \"individual\",\r\n    \"delinquent\": false,\r\n    \"created_at\": \"2021-11-23T18:21:23Z\",\r\n
        \   \"updated_at\": \"2021-11-23T18:39:04Z\",\r\n    \"phones\": {\r\n      \"home_phone\":
        {\r\n        \"country_code\": \"55\",\r\n        \"number\": \"984600591\",\r\n
        \       \"area_code\": \"14\"\r\n      }\r\n    }\r\n  },\r\n  \"last_transaction\":
        {\r\n    \"qr_code\": \"https://digital.mundipagg.com/pix/\",\r\n    \"qr_code_url\":
        \"https://api.pagar.me/core/v5/transactions/tran_DevNmaqf8fdmjadQ/qrcode?payment_method=pix\",\r\n
        \   \"expires_at\": \"2021-11-26T18:39:41Z\",\r\n    \"id\": \"tran_DevNmaqf8fdmjadQ\",\r\n
        \   \"transaction_type\": \"pix\",\r\n    \"gateway_id\": \"14070\",\r\n    \"amount\":
        3000,\r\n    \"status\": \"waiting_payment\",\r\n    \"success\": true,\r\n
        \   \"created_at\": \"2021-11-23T18:39:41Z\",\r\n    \"updated_at\": \"2021-11-23T18:39:41Z\",\r\n
        \   \"gateway_response\": {},\r\n    \"antifraud_response\": {},\r\n    \"metadata\":
        {}\r\n  }\r\n}"
  recorded_at: Tue, 23 Nov 2021 18:39:39 GMT
recorded_with: VCR 5.1.0
